.output-type {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 13pt;
}

.output-main-container {
    padding: 3px;
    text-align: center;
}


.output-main-container textarea {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 3px;
    width: 97.5%;
    height: 500px;
    background: rgb(231, 235, 166);
    padding-top: 5px;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.98);
}

.output-main-container textarea:hover {
    background: rgb(211, 215, 159);
    transition: 0.3s;
    cursor: pointer;
}
