body {
    margin: 0;
    padding-top: 10px;
    font-family: "Droid Sans" , sans-serif;
}

.App {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 700px;
    min-width: 587px;
}

.main-app-content-container {
    position: absolute;
    width: 100%;
    height: 615px;
    overflow-y: auto;
    overflow-x: auto;
    background: rgb(255, 251, 133);
    padding-top: 5px;
    /*border-bottom: 5px solid black;*/
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
}

@media screen and (max-width:1093px ) {
    .main-app-content-container {
        height: 566px;
    }
}
