body {
    margin: 0;
    padding-top: 10px;
    font-family: Corbel, sans-serif;
}

.App {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 700px;
    border: 1px solid rgb(100, 100, 100);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.main-app-content-container {
    position: absolute;
    width: 100%;
    height: 615px;
    overflow-y: auto;
    overflow-x: auto;
    background: #ffe998;
    padding-top: 5px;
}

